import React from 'react';
// import PropTypes from 'prop-types';
import {connect} from 'react-redux';


{{#if wantMessages}}
import {FormattedMessage} from 'react-intl';
import messages from './messages';
{{/if}}

import {Wrap} from './styles';

class {{properCase name}} extends React.Component {
  render() {
    return (
      <Wrap>
        <article>
          <h1>Hello there!</h1>
          <hr />
          <p>This is your new {{properCase name}} page.</p>
          {{#if wantMessages}}
          <FormattedMessage {...messages.preview} />
          {{/if}}
        </article>
      </Wrap>
    );
  }
}

{{properCase name}}.defaultProps = {};

{{properCase name}}.propTypes = {};

function mapStateToProps(state) {
 return {};
}

export default connect(mapStateToProps)({{properCase name}});
